<%- include('../partials/header') -%>
    <h1>Skill Level as of <%= time %></h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
            <form action="/skills/<%= s.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">delete</button>
                </form>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.level ? 'Proficeint' : 'Mediocre' %>
        </li>
      <% }); %>

    </ul>
    <a href="/skills/new">Add New Skill</a>
    <%- include('../partials/footer') -%>